# Ignore everything
*

# Whitelist
!README.md
!git/
!git/ignore
!kitty/
!kitty/kitty.conf
!nvim/
!nvim/coc-settings.json
!nvim/after/
!nvim/after/ftplugin/
!nvim/after/ftplugin/*
!nvim/autoload/
!nvim/autoload/*
nvim/autoload/plug.vim
!nvim/init.vim
!nvim/spell/
!nvim/spell/*
!nvim/Ultisnips/
!nvim/Ultisnips/*
