.cache/

fish/.config/fish/conf.d/env.fish
fish_variables

noctalia/.config/noctalia/plugins/
nvim/.config/nvim/plugged/

*.wants/

# Ignore everything under zoom/.local by default
zoom/.local/*

# Allow Zoom desktop file
!zoom/.local/share/applications/
!zoom/.local/share/applications/zoom-webapp.desktop

# Allow Zoom icons only
!zoom/.local/share/icons/
!zoom/.local/share/icons/hicolor/
!zoom/.local/share/icons/hicolor/**/apps/zoom-webapp.png
