[Unit]
Description=CameraCtrls daemon - restore control values

[Service]
Type=simple
ExecStart=/usr/lib/python3.14/site-packages/CameraCtrls/cameractrlsd.py

[Install]
WantedBy=graphical-session.target
